.menuWrapper {
  width: 86%;
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 34px;
  position: absolute;
  bottom: 0px;
  height: 90%;
  width: 100%;
  background: rgb(52, 74, 186);
  background: linear-gradient(
    180deg,
    rgba(52, 74, 186, 1) 0%,
    rgba(0, 20, 121, 0.83) 100%
  );
  z-index: -1;
  border-radius: 48px;
  box-shadow: inset 0 -8px 0px 4px rgb(20, 14, 102, 1),
    inset 0 6px 0px 8px rgb(36, 99, 255, 1);
}
/* 
.viewport {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 110%;
  height: 100%;
  background-color: rgba(26, 4, 58, 0.75);
  background-image: linear-gradient(
    180deg,
    rgba(26, 4, 58, 0.75) 0%,
    rgba(21, 18, 120, 0.75) 70%,
    rgba(43, 22, 119, 0.75) 100%
  );
} */

@media only screen and (min-width: 625px) {
  .menuWrapper {
    width: 77%;
    max-width: 592px;
  }
}

@media only screen and (min-width: 1024px) {
}
