.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* position: relative; */
  gap: 0px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.categories {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fill, 9.5vh);
  row-gap: 16px;
  height: 680px;
}

.blueButton {
  letter-spacing: 5%;
  font-size: 24px;
  border-radius: 20px;
  line-height: 120%;
}

.headerImgStyles {
    width: 100%;
}

@media only screen and (min-width: 625px) {
  .header {
    justify-content: center;
  }

  .categories {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto-fill, 18vh);
    row-gap: 32px;
    column-gap: 32px;
    height: 680px;
  }

  .wrapper {
    gap: 0px;
  }

  .button {
    position: absolute;
    left: 0;
  }

  .blueButton {
    font-size: 48px;
    border-radius: 40px;
  }

  .headerImgStyles {
      width: 100%;
  }   
}

@media only screen and (min-width: 1024px) {
  .categories {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(auto-fill, 18.5vh);
    column-gap: 32px;
    row-gap: 50px;
  }

   .headerImgStyles {
      width: 100%;
      max-width: 590px;
  }   

  .blueButton {
    height: 18.5vh;
  }
}
