li {
  list-style-type: none;
}

ol {
  list-style-type: none;
}

.letter {
  width: clamp(40px, 11vw, 112px);
  height: clamp(66px, 8vh, 112px);
  padding: 6px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 1);
  font-size: 40px;
  box-sizing: border-box;
}

.phrase {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 8px;
  border: none;
  padding: 0;
}

@media only screen and (min-width: 625px) {
  .letter {
    height: clamp(112px, 11vh, 128px);
    border-radius: 32px;
    font-size: 64px;
  }
}

@media only screen and (min-width: 1024px) {
  .letter {
    height: clamp(112px, 12.5vh, 128px);
    border-radius: 40px;
    font-size: 88px;
  }
}
