:root {
  --dark-navy: rgb(38, 22, 118, 1);
  --blue: rgba(36, 98, 255, 1)
}

@font-face {
  font-family: "MouseMemoirs-Regular";
  src: url("./assets/fonts/MouseMemoirs-Regular.ttf");
}

body {
  background-image: url(./assets/images/background-mobile.svg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: 100vh;
  margin: 0;
  overflow: hidden;

  font-family: "MouseMemoirs-Regular";

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 86%;
  /* max-width: 324px; */
  display: flex;
  justify-content: start;
  /* gap: 80px; */
  flex-direction: column;
  align-items: center;
  height: 100vh;
  font-family: "MouseMemoirs-Regular";
  
}

h1 {
  margin: 0;
}

button {
  border: none;
}

button:hover {
  filter: brightness(115%);
}

.gradient {
  background: rgba(254, 113, 254, 1);
  background: linear-gradient(
    180deg,
    rgba(254, 113, 254, 1) 0%,
    rgba(113, 153, 255, 1) 100%
  );
}

.blueRectangle {
  box-shadow: inset 0 -2px 0px 3px rgba(20, 14, 102, 1),
    inset 0 1px 0px 6px rgba(60, 116, 255, 1);
  border-radius: 12px;
  background-color: rgba(36, 98, 255, 1);
  color: rgba(255, 255, 255, 1);
  font-family: "MouseMemoirs-Regular";
}


@media only screen and (min-width: 625px) {
  body {
    background-image: url(./assets/images/background-tablet.svg);
  }

  #root {
    width: 92%;
    /* max-width: 704px; */
  }
}

@media only screen and (min-width: 1024px) {
  body {
    background-image: url(./assets/images/background-desktop.svg);
  }

  #root {
    width: 84.4%;
    /* max-width: 1216px; */
  }
}
